# https://help.github.com/articles/about-codeowners/

# Global pattern
* @PowerShell/extension

# Developer files
# We exclude *.psd1 and *.props as they change on release
*.cs @PowerShell/extension-dev
*.csproj @PowerShell/extension-dev
*.json @PowerShell/extension-dev
*.ps1 @PowerShell/extension-dev
.editorconfig @PowerShell/extension-dev
.gitignore @PowerShell/extension-dev
PowerShellEditorServices.sln @PowerShell/extension-dev
