# https://help.github.com/articles/about-codeowners/

# Global pattern
* @PowerShell/extension

# Developer files
src/ @PowerShell/extension-dev
test/ @PowerShell/extension-dev
tools/ @PowerShell/extension-dev
.editorconfig @PowerShell/extension-dev
.gitattributes @PowerShell/extension-dev
.gitignore @PowerShell/extension-dev
PowerShellEditorServices.build.ps1 @PowerShell/extension-dev
PowerShellEditorServices.sln @PowerShell/extension-dev
