_ReSharper*
[Bb]in
bin-nano
obj
objd
out/
tmp/
App_Data
*.user
*.sln.cache
*.suo
TestResults
[Tt]humbs.db
buildd.*
release/
*.log
*.bak
packages
OACRTemp/
build_logs/
lock
/public/inc/bldver.*
/public/inc/sources.ver
/data
/target
.corext/gen
registered_data.ini
.vs/
module/

project.lock.json

docs/_site/
docs/_repo/
docs/metadata/
tools/

PowerShellEditorServices.sln.ide/edb.chk
PowerShellEditorServices.sln.ide/edbres00001.jrs
PowerShellEditorServices.sln.ide/storage.ide
*.jrs
