language: cpp

git:
  depth: 1000

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode9.4

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update;
      brew install openssl;
      mkdir -p /usr/local/lib;
      ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/;
      ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/;
    elif [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-get install libunwind8;
    fi

install:
  - pushd scripts
  - bash <(curl -s https://raw.githubusercontent.com/PowerShell/PowerShell/master/tools/install-powershell.sh)
  - popd

script:
  - ulimit -n 4096
  - pwsh -File scripts/travis.ps1
