language: cpp

git:
  depth: 1000

matrix:
  include:
    -os: linux
      dist: xenial
      sudo: required
    -os: osx
      osx_image: xcode9.4.1

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update;
      brew install openssl;
      mkdir -p /usr/local/lib;
      ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/;
      ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/;
    fi

install:
  - pushd scripts
  - ./download.sh
  - popd

script:
  - ulimit -n 4096
  - pwsh -File scripts/travis.ps1
