version: '$(core_version).{build}'
os: Unstable
configuration: Release
clone_depth: 10

environment:
  core_version: '0.2.0'
  prerelease_name: '-beta'

branches:
  only:
  - master

# NOTE: If you need to debug a problem with the AppVeyor build, uncomment the
#       following two lines and push them to your PR branch.  Once the next
#       build starts you will see RDP connection details written out to the
#       build console.  **DON'T FORGET TO REMOVE THIS COMMIT BEFORE MERGING!**

#init:
#- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '$(core_version)$(prerelease_name)+{build}'

install:
- git submodule -q update --init

before_build:
- nuget restore

build:
  project: PowerShellEditorServices.sln
  publish_nuget: true
  verbosity: minimal

test:
  assemblies:
  - Microsoft.PowerShell.EditorServices.Test.dll
  - Microsoft.PowerShell.EditorServices.Test.Protocol.dll
  - Microsoft.PowerShell.EditorServices.Test.Host.dll
