version: '1.3.0.{build}'
image: Visual Studio 2017
clone_depth: 10
skip_tags: true

branches:
  only:
  - master

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true  # Don't download unneeded packages
  DOTNET_CLI_TELEMETRY_OPTOUT: true        # Don't send telemetry

install:
  - ps: |
      Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force | Out-Null
      Import-PackageProvider NuGet -Force | Out-Null
      Set-PSRepository -Name PSGallery -InstallationPolicy Trusted | Out-Null
      Install-Module InvokeBuild -RequiredVersion 3.2.1 -Scope CurrentUser -Force | Out-Null
      Install-Module platyPS -RequiredVersion 0.7.6 -Scope CurrentUser -Force | Out-Null

build_script:
  - ps: Invoke-Build -Configuration Release

# The build script takes care of the tests
test: off
