version: '2.0.0{build}'
image: Visual Studio 2017
clone_depth: 10
skip_tags: true

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true  # Don't download unneeded packages
  DOTNET_CLI_TELEMETRY_OPTOUT: true        # Don't send telemetry

install:
  - ps: |
      Get-Module PowerShellGet,PackageManagement | Remove-Module -Force -Verbose
      powershell -Command { Install-Module -Name PowershellGet -MinimumVersion 1.6 -force -confirm:$false -verbose }
      powershell -Command { Install-Module -Name PackageManagement -MinimumVersion 1.1.7.0 -Force -Confirm:$false -Verbose }
      Import-Module -Name PowerShellGet -MinimumVersion 1.6 -Force
      Import-Module -Name PackageManagement -MinimumVersion 1.1.7.0 -Force
      Install-PackageProvider -Name NuGet -Force | Out-Null
      Import-PackageProvider NuGet -Force | Out-Null
      Set-PSRepository -Name PSGallery -InstallationPolicy Trusted | Out-Null
      Install-Module InvokeBuild -MaximumVersion 5.1.0 -Scope CurrentUser -Force | Out-Null
      Install-Module platyPS -RequiredVersion 0.9.0 -Scope CurrentUser -Force | Out-Null

build_script:
  - ps: Invoke-Build -Configuration Release

# The build script takes care of the tests
test: off
