version: '$(core_version).{build}'
os: WMF 5
configuration: Release
clone_depth: 10
skip_tags: true

environment:
  core_version: '0.7.2'
  prerelease_name: '-beta'

branches:
  only:
  - master
  - develop

# NOTE: If you need to debug a problem with the AppVeyor build, uncomment the
#       following two lines and push them to your PR branch.  Once the next
#       build starts you will see RDP connection details written out to the
#       build console.  **DON'T FORGET TO REMOVE THIS COMMIT BEFORE MERGING!**

#init:
#- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

build_script:
  - ps: ./build.ps1 -Configuration Release -BuildNumber $env:APPVEYOR_BUILD_NUMBER -PackageNuget -PackageModule

after_build:
  - ps: Get-ChildItem -Path "release/BuiltPackages/*" -Include "*.nupkg", "*.zip" | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

test_script:
  - ps: ./scripts/RunTests.ps1 -Framework net451 -Configuration Release
