name: Emacs End-to-End Tests

on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
    paths-ignore: [ '**/*.md' ]
  merge_group:
    types: [ checks_requested ]

jobs:
  test:
    name: Test via Eglot
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dotnet
        uses: actions/setup-dotnet@v4

      - name: Build PSES
        shell: pwsh
        run: tools/azurePipelinesBuild.ps1

      - name: Install Emacs
        uses: purcell/setup-emacs@master
        with:
          version: '28.2'

      - name: Run ERT
        run: |
          emacs -Q --batch -f package-refresh-contents --eval "(package-install 'eglot)"
          emacs -Q --batch -l test/emacs-test.el -f ert-run-tests-batch-and-exit
